@import url('./reset-styles.css');

:root {
  font-family: 'Roboto';
  font-weight: 400;
  --green: #2bb673;
  --blue: #1998d5;
  --darkBlue: #2e4797;
  --orange: #f4857a;
  --violet: #a93aa3;
  --blue-transparent: rgba(25, 152, 213, 0.2);
  --gray: #f3f4f8;
  --blue-gradient: linear-gradient(
    275deg,
    rgba(76, 112, 222, 0.1) -9.26%,
    rgba(28, 156, 210, 0.1) 47.33%,
    rgba(15, 170, 163, 0.1) 105.11%
  );
  --darkBlue-gradient: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(250deg, #27a5db 0.13%, #2e5ba6 77.13%);
}

body {
  margin-bottom: 5rem;
}

/* DEFAULT ELEMENTS */

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

/* SPECIFIC ELEMENTS */

.container {
  max-width: 1540px;
  margin: 0 auto;
  position: relative;
  padding: 9rem 0;
}

/* stories  */

.story-section .container {
  padding: 2.5rem 0;
}

.testimonial-section {
}

.testimonial {
  padding-left: 6rem;
}

/* tags */

.tags {
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60rem;
}

/* articles */

.article-section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.article-section .article-highlighted {
  grid-column-start: 1;
  grid-column-end: 4;
}

.article-section .article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-section .article > img {
  border-radius: 0.5rem;
}

.article-section .article > p {
  border-radius: 0.5rem;
}

.article-section .source {
  display: flex;
  gap: 0.5rem;
}

/* categories */

.category-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.category-section .category-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.category-section .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  width: 22rem;
  height: 22rem;
  padding: 1.7rem;
  border-radius: 1rem;
}

/* pitch */

.pitch-section {
  padding: 5.5rem 0;
}

.pitch-section .container {
  display: flex;
  align-items: center;

  border-radius: 1rem;
  padding: 6rem 4rem;

  position: relative;
}

.pitch-section .shadow {
  position: absolute;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(250deg, #27a5db 0.13%, #2e5ba6 77.13%);
  opacity: 0.1;
  border-radius: 1rem;
  top: 1.5rem;
  left: 50%;
  height: 100%;
  width: 93%;
  transform: translate(-50%, 0);
  z-index: -1;
}

/* common */

.button-solid-green {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.41169rem;
  background: var(--green);
}

.button-outlined-green {
  color: var(--green);
  padding: 0.5rem 1.5rem;
  border-radius: 0.41169rem;
  border: 1.317px solid var(--green);
}

.button-outlined-white {
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.41169rem;
  border: 1.317px solid rgba(255, 255, 255, 0.3);
}

.button-outlined-blue {
  color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 0.83194rem;
  border: 3.328px solid var(--blue-transparent);
}

.button-dropdown {
  display: flex;
  gap: 4px;
}

/* UTILITY CLASSES */
/* layout */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.justify-between {
  justify-content: space-between;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-144 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.px-48 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-240 {
  padding: 0 15rem;
}

.p-40 {
  padding: 2.5rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-20 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-56 {
  gap: 3.5rem;
}

.gap-56 {
  gap: 3.5rem;
}

.gap-64 {
  gap: 4rem;
}

.gap-96 {
  gap: 6rem;
}

.gap-144 {
  gap: 9rem;
}

/* font */

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-27 {
  font-size: 1.6875rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fc-blue {
  color: var(--blue);
}

.fc-darkBlue {
  color: var(--darkBlue);
}

.fc-white {
  color: white;
}

.fc-violet {
  color: var(--violet);
}
/* background */

.bg-green {
  background: var(--green);
}

.bg-blue {
  background: var(--blue);
}

.bg-gray {
  background: var(--gray);
}

.bg-blue-gradient {
  background: linear-gradient(
    275deg,
    rgba(76, 112, 222, 0.1) -9.26%,
    rgba(28, 156, 210, 0.1) 47.33%,
    rgba(15, 170, 163, 0.1) 105.11%
  );
}

.bg-darkBlue-gradient {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(250deg, #27a5db 0.13%, #2e5ba6 77.13%);
}

/* other */

.radius-8 {
  border-radius: 0.5rem;
}

.list-style-none {
  list-style-type: none;
}

.underline-orange {
  text-decoration: underline solid var(--orange) 0.1875rem;
}

/* ---------------------- */

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto[wdth\,wght].ttf');
}
